/* @import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,600;0,800;1,200;1,500;1,700&display=swap');
 */


 @media screen and (max-width: 1600px)
 {
   .left img {
     width: 38vw;
     height: 65vh;
     border-radius: 50%;
 }
 
 .home .left {
   margin: 4rem auto;
   width: 38vw;
   border-radius: 50%;
   /* margin: 2rem; */
   height: 65vh;
 }
 .page h3 {
   display: block;
   margin-top: 6rem;
 }
 .cont .about{
   width: max-content;
   height: max-content;
   margin: 0;
 }
 .cont p {
   font-size: 20px;
 }
 .box{
   height: 100vh;
 }
 .box .left img {
   padding-top: 3rem;
   height: 300px;
   width: 40vw;}
 
 }
 
 @media screen and (max-width: 200px)
 {
     .nav{
         flex-direction: column;
     }
 }
 
 
 @media screen and (max-width: 1300px) {
     .home{
     width: 100vw;
     }
 .navbar{
     height: auto;
 }
 
   .nav{
       /* display: none; */
       font-size: 1.5rem;
       position: absolute;
 
     }
     .btn {
        padding: 0.5rem;
        border-radius: 1rem;
         margin-right: 1rem;}
     .home .left {
         /* margin: 4rem auto; */
         width: 38vw;
         /* border-radius: 50%; */
         /* margin: 2rem; */
         height: 65vh;}
     .left img {
         width: 38vw;
         height: 65vh;
         border-radius: 50%;
     }
   .cont {
     display: flex;
     flex-direction: column;
     padding: 0;
     padding: 2rem;
  
     /* align-items: center; */
 }
 
   
   .about {
       order: 2;
 }
 
 .cont .right {
     order: 1;
     width: 35vw;
     /* border: 2px solid white; */
     margin: 3rem;
     line-height: 4rem;
     padding: 3rem;
     display: flex;
     /* padding-left: 8rem;
     padding-top: 8rem;
     color: aliceblue; */
 }
 .right img{
     margin-left: 1rem;
     display: inline-block;
 }
 .resume {
     right: 6rem;
     display: flex;
 flex-direction: column;
 
 }
 .cont .about{
     font-size: 1rem;
     width: 90vw;
     text-align:center;
     padding: 1rem;
     margin: 1rem;
 }
 
 /* skills */
 .container {
     display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .container .sleft{
     width: 80vw;
     margin: 4rem;
     text-align: center;
 }
 .container .sright{
 
     margin: 4rem;
     width: 80vw;
     text-align: center;
 }
 
 /* certi */
 .cards{
     display: flex;
     justify-content: center;
 align-items: center;    
    flex-direction: column;
 }
 .achieve .card {
   
     width: 50vw;
    padding: 2rem;
    
     height: auto;
   
     margin-bottom: 2rem;
   }
 
   /* projects */
   .section .book .page img {
   
     position: absolute;
     top: -3rem;
     left: 18%;
     height: 90px;
     /* margin: 0.5rem; */
     /* padding: 0.3rem; */
     width: 170px;
 }
 .gall {
     height: auto;
 }
 .footer {
     height: 8vw;
 }
 @media screen and (max-width: 930px){
     /* home */
     
     .home .right{
         font-size: 0.6rem;
     }
     .home {
         padding: 1rem;
         /* padding-left: 8rem;
         padding-top: 8rem; */
         padding-top: 4rem;}
     .left img {
         width: 42vw;
         height: 55vh;
        
         border-radius: 50%;
     }   
     .home .left{
         width: 42vw;
         height: 55vh;
         margin-top: 6rem;
         margin-left: 4rem;
 
     } 
     /* .btn {
 
         font-size: 15px;} */
     .right {
         width: 50vw;
         padding: 1rem;
         padding-left: 8rem;
         padding-top: 8rem;
         margin: 0;
     }
 
     h1 {
         font-size: 46px;
     }
     h2 {
         font-size: 35px;
     }
     .link a {
         font-size: 25px;
         width: 50px;
         height: 50px;
         padding: 0;
         margin: 0.5rem;
         
     }
 }
 
 
 @media screen and (max-width: 748px)
 {
     .home{
         padding-bottom: 3rem;
     }
     .nav a {
         margin-right: 0.8rem;
         padding-left: 0.8rem;
     }
     .btn-know{
         display: none;
     }
     .section .book {
         display: grid;
         grid-template-columns: 1fr 1fr;
     }
     .right {
         padding-left: 5rem;
     }
     .box {
         height: max-content;
         align-items: center;
     }
     .contact_parts {
         display: block;
     }
     .box .left {
         font-size: 16px;
         width: 80vw;
         height: max-content;
         border-radius: 5px;
         background-color: aliceblue;
         display: inline-block;
         margin: 4rem;
         margin-top: 5rem;
         padding: 2rem;
         padding-top: 5rem;
     }
     .contact {
         width: 90vw;
     }
     textarea {
         width: 60vw;
     }
     input {
         margin: 1.2rem;
         width: 60vw;
         padding: 0.5rem;
         height: 5vh;}
 }
 }
 @media screen and (max-width: 621px)
 {
     .nav a {
         margin-right: 0.5rem;
         padding-left: 0.5rem;
     }
     h3 {
         font-size: 22px;
     }
     h1 {
         line-height: 0.8;
         font-size: 35px;
     }
     h2 {
         font-size: 30px;
     }
     .link a{
     width: 35px;
     height: 40px;
     }
     .cont .right {
         order: 1;
         width: 35vw;
         /* border: 2px solid white; */
         margin: 2rem;
         line-height: 2rem;
         padding: 1rem;
      }
     .resume {
         right: 1rem;
         display: flex;
         flex-direction: column;
     }
     .gall {
         
         display: grid;
         grid-template-columns: 1fr 1fr;
     }
     span {
         font-size: 20px;
     }
     .gall .card img {
         width: 42vw;
         height: 37vh;
         border-radius: 10px;
         /* margin: 2rem; */
     }
 }
     @media screen and (max-width: 500px)
 {
     .nav a {
         margin-right: 0.2rem;
         padding-left: 0.2rem;
     }
     h3 {
         font-size: 18px;
     }
     h1 {
         line-height: 0.5;
         font-size: 28px;
     }
     h2 {
         font-size: 23px;
     }
     .link a{
     width: 28px;
     height: 33px;
     }
     .cont .right {
         order: 1;
         width: 35vw;
         /* border: 2px solid white; */
         margin: 1rem;
         line-height: 1rem;
         padding: 1rem;
      }
     .resume {
         right: 1rem;
         display: flex;
         flex-direction: column;
     }
     .gall {
         
         display: grid;
         grid-template-columns: 1fr ;
     }
     
     .gall .card img {
         width: 42vw;
         height: 37vh;
         border-radius: 10px;
         /* margin: 2rem; */
     }
     .cont .right .resume{
         display: flex;
         flex-direction: column;
         order: 1;
         width: 35vw;
     }
     @media screen and (max-width: 400px)
     {
         .home{
             display: block;
             padding: 0;
             padding-bottom: 1rem;
             height: max-content;
 
         }
         .btn-home, .btn-gal{
             display: none;
 
         }
         .left img {
             width: 74vw;
             height: 45vh;
         }
         .home .left {
             width: 74vw;
             height: 45vh;
         }
         .section .book {
             display: grid;
             grid-template-columns: 1fr ;
         }
         .cont .right .resume {
             position: relative;
             margin-left: 10rem;
             margin-top: 1.8rem;
         }
 
         .right{
             margin: 1rem;
         
             width: 70vw;
             text-align: center;
             margin-bottom: 3rem;
             padding-top: 0rem;
         }
         .home .right{
             margin-left: 3rem;
         }
         .resume a {
             margin-left: 2rem;
         }
         main h1 {
             border-top: 2px solid rgb(4, 4, 4);
             font-size: 40px;}
         .btn {
             width: max-content;
         }
         .cont .about{
             margin: 0;
         }
         .sleft h3, .sright h3 {
             font-size: 25px;
         }
         .skill h4, .skill h1 {
             font-size: 15px;}
         .cont p{
             font-size: 15px;
         }
         .cont .right{
             flex-direction: column;
 
             /* position: absolute; */
            
         }
         resume{
             margin-top: 2rem;
 
         }
         .container{
             padding: 0;
         }
         .section .book .page img {
          
             left: 26%;}
             .box .left{
                 margin: 2rem;
             }
             .box .left .skill-box h4 {
                 font-size: 12px;
                 text-transform: uppercase;
             }
           .skill-box  h5 {
                 font-size: 11px;
             }
             .gall {
               
                 margin-left: 6rem;}
 
                 .gall .card, .gall .card img {
                     width: 60vw;
                     height: 35vh;
                 }
                 .footer {
                     height: 12vw;
                 }
     }
 }